
#foreach( $track in $tracks )
<tr>
    <td><a href="/tracks/$track.TrackId">$track.TrackId</a></td>
    <td>$!track.Name</td>
    <td>$!track.AlbumTitle</td>
    <td>$!track.ArtistName</td>
    <td>$!track.Milliseconds</td>
    <td>$!track.Bytes</td>
    <td>$!track.UnitPrice</td>
</tr>
#end